.row{
	width: :100%;  
}
}
.content{
  position: relative;
}
*{
	box-sizing: border-box;  
}
.b1,.b2,.b3{
  background-color:#808080;
  border:3px solid black;
  font-size:100%;
}
.b1{ 
  margin: 10px 10px 10px 10px;
}
.b2{
  margin: 10px 10px 10px 10px; 
}
.b3{ 
  margin: 10px 10px 10px 10px;
}  
.mybox1{ 
  float:right;
  float:top;
  position:relative;
  margin-left:100%;
  margin-right:-3px;
  margin-top:-3px;
  font-size:125%
  padding-top:0px ;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: auto;
  background-color:#F08080;
  border:3px solid black;
  text-align:center;
  width:150px;
  font-weight: bold;
}
.mybox2{
  float:right;
  float:top;
  position:relative;
  margin-left:100%;
  margin-top:-3px;
  margin-right:-3px;
  font-size:125%
  padding-top:0px ;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: auto;
  background-color:brown;
  border:3px solid black;
  text-align:center;
  width:150px;
  font-weight: bold;
  color:white;

}
.mybox3{
  float:right;
  float:top;
  position:relative;
  margin-right:-3px;
  margin-left:100%;
  margin-top:-3px;
  font-size:125%
  padding-top:0px ;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: auto;
  background-color:#F5DEAD;
  border:3px solid black;
  text-align:center;
font-weight: bold;
  width:150px;

  

}
h1{
  position: relative;
  font-family: Comic Sans MS;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  color:black;
  font-size:175%;
}
p {
  position:relative;
  width: 100%;
  font-family: Comic Sans MS;
}

/********** Large devices only **********/
@media only screen and (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

